# Random Forrest

Utilice la clase `regression_tree` de `regression_tree.py` para entrenar 20 arboles en los datos de `auto.csv`

In [8]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from regression_tree import regression_tree

In [9]:
auto_dataset = pd.read_csv('../data/auto.csv')

In [10]:
auto_dataset.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [14]:
auto_tree = regression_tree()
auto_tree.fit(auto_dataset[['mpg', 'cylinders', 'displacement']], 'mpg')

In [18]:
auto_tree.predict(auto_dataset[['mpg', 'cylinders', 'displacement']]).head()

0    13.666667
1    14.888889
2    15.211765
3    14.357143
4    15.536364
dtype: float64